:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;

  --site-padding: 1em;
  --site-width: 900px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

p {
  color: var(--nord0);
}

html {
  font-size: calc(0.7rem + 0.4vmin);
}

h1 {
  color: var(--nord0);
  text-align: center;
  letter-spacing: 0.2em;
}

h2,
h3,
h4 {
  color: var(--nord4);
  text-align: center;
  letter-spacing: 0.2em;
}

body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  background: url(/images/jakub-brabec-J9cR3W4Qtgg-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  line-height: 1.5;
}

/* Navigation */
header {
  text-align: center;
  margin-bottom: 4rem;
  background: var(--nord2);
}

nav {
  padding: 0.7rem;
  max-width: var(--site-width);
  padding-left: var(--site-padding);
  padding-right: var(--site-padding);
  margin: auto;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

nav li {
  margin: 0.5rem 0;
}

nav a {
  color: var(--nord4);
  text-decoration: none;
}

nav a:hover {
  color: var(--nord6);
}

@media screen and (min-width: 768px) {
  nav ul {
    flex-direction: row;
    justify-content: center;
  }
  nav li {
    margin: 0 1rem;
  }
}

/* Blocks */
.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

main {
  max-width: var(--site-width);
  padding-top: 0;
  padding-left: var(--site-padding);
  padding-right: var(--site-padding);
  padding-bottom: 3em;
  margin: auto;
}

.container__row {
  flex-direction: row;
  margin: 2rem;
}

@media screen and (max-width: 768px) {
  .container__row {
    flex-direction: column;
  }
}

.box {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box--team:hover {
  transform: perspective(150px) translateZ(50px) rotateZ(360deg);
  transition: 1.3s;
}

.box--team {
  max-width: 30vh;
  max-height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 4rem;
}

.box--solo {
  max-width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  float: left;
  margin-right: 1em;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  color: var(--nord3);
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid var(--nord0);
  color: var(--nord0);
}

input[type="submit"] {
  max-width: 7em;
  background-color: var(--nord0);
  color: var(--nord4);
}

label {
  color: var(--nord0);
}

a[href^="mailto:"],
a[href^="tel:"] {
  text-decoration: none;
  color: var(--nord0);
  text-align: center;
  display: block;
}

a[href^="mailto:"]:hover,
a[href^="tel:"]:hover {
  color: var(--nord6);
}

/* Skill Bar */
.container--bar {
  width: 100%;
  background-color: var(--nord4);
}

.skills {
  text-align: right;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  color: var(--nord0);
}

.animals {
  width: 90%;
  background-color: var(--nord11);
}
.arithmetic {
  width: 80%;
  background-color: var(--nord12);
}
.astronomy {
  width: 65%;
  background-color: var(--nord13);
}
.diplomacy {
  width: 60%;
  background-color: var(--nord14);
}

.warfare {
  width: 45%;
  background-color: var(--nord15);
}

.gymrat {
  width: 95%;
  background-color: var(--nord11);
}
.tvirlapen {
  width: 75%;
  background-color: var(--nord12);
}
.moonwalk {
  width: 70%;
  background-color: var(--nord13);
}
.sql {
  width: 50%;
  background-color: var(--nord14);
}

.beatbox {
  width: 45%;
  background-color: var(--nord15);
}

.quote {
  position: relative;
  font-style: italic;
  color: var(--nord0);
}

/* Logo */
.logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  width: 20%;
  height: auto;
  margin: 1em;
}

/* Masonry */
.masonry {
  -moz-column-count: 1;
  column-count: 1;
  -moz-column-gap: 1em;
  column-gap: 1em;
  -moz-column-fill: balance;
  column-fill: balance;
  margin: 1em auto 0;
  padding: 1rem;
  text-align: center;
}
.masonry .item {
  display: inline-block;
  margin: 0 0 1em;
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  width: 100%;
}
.masonry .item img {
  width: 100%;
  height: auto;
}
@media (min-width: 600px) {
  .masonry {
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 900px) {
  .masonry {
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media (min-width: 1200px) {
  .masonry {
    -moz-column-count: 4;
    column-count: 4;
  }
}

/* Checkbox */
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--nord4);
}

.checkbox:hover input ~ .checkmark {
  background-color: var(--nord6);
}

.checkbox input:checked ~ .checkmark {
  background-color: var(--nord0);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--nord4);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Scroll to top */
.scrollToTopBtn {
  background-color: var(--nord0);
  border: none;
  border-radius: 10px;
  color: var(--nord4);
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 1.5em;
  width: 2.5em;
  position: fixed;
  bottom: 0.5em;
  right: 0.7em;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
}

.showBtn {
  opacity: 0.8;
  transform: translateY(0);
}
